mlx
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/mlx-lm
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/mlx-vlm
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langchain/libs/langchain
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langchain/libs/core
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langchain/libs/text-splitters
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langgraph/libs/langgraph
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langgraph-bigtool
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/llama_index

pyppeteer # for rendering mermaid graph
