# Base
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/fastmcp
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/deepeval
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/llama-cpp-python
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/BERTopic
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/KeyBERT

# Advanced
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/stanza
fake_useragent
validators
tiktoken
pyquery
parsel
html2text
lxml
Markdown
mrkdwn-analysis
model2vec
fastembed

# KeyBERT Peers
# flair
