beautifulsoup4
cmake
cython
datasets
evaluate
faiss-cpu
hdbscan
hf_xet
huggingface-hub
ipython
ipywidgets
jupyter
matplotlib
meson-python
ninja
numpy==1.26.4
nltk
openai
optimum
optimum[onnxruntime]
pandas
pipdeptree
playwright
poetry
psutil
pytest
pytest-asyncio
pytest-benchmark
pytest-mock
pytest-watcher
pytest-html
pytest-json-report
pytest-metadata
redis
requests
scikit-learn
scipy
sentence-transformers
spacy
tokenizers
torch
tqdm
transformers
umap-learn
unidecode
uv
