mlx
mlx-lm
mlx-vlm
llama-cpp-python -C cmake.args="-DGGML_BLAS=ON;-DGGML_BLAS_VENDOR=OpenBLAS"
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/openai-python
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/ollama-python
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/gliner
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/gliner-spacy
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/SpanMarkerNER
# -e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langchain/libs/langchain
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langchain/libs/langchain_v1
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langchain/libs/core
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langchain/libs/text-splitters
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langchain/libs/partners/openai
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langchain/libs/partners/ollama
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langchain-community/libs/community
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langgraph/libs/langgraph
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langgraph/libs/checkpoint
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langgraph/libs/prebuilt
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langgraph-bigtool
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langgraph-supervisor-py
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/langgraph-supervisor-py/langchain-sandbox/libs/sandbox-py
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/llama_index
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/letta
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/letta-python
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/mcp-agent
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/pydantic-ai
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/audio/whisperX
# Commented out because whisperX already provides/depends on faster-whisper
# -e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/faster-whisper
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/CTranslate2/python
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/argos-translate
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/googletrans
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/silero-vad
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/pyannote-audio
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/audio/audioFlux
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/translators
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/audio/FunASR
-e /Users/jethroestrada/Desktop/External_Projects/AI/repo-libs/speechbrain

gradio
pyppeteer # for rendering mermaid graph
simsimd
textstat
