arize-phoenix==20.0.0
arize-phoenix-client==3.1.0
arize-phoenix-evals==3.4.0
arize-phoenix-otel==0.17.1
arize-phoenix-sqlean==0.1.0
opentelemetry-api==1.44.0
opentelemetry-exporter-otlp==1.44.0
opentelemetry-exporter-otlp-proto-common==1.44.0
opentelemetry-exporter-otlp-proto-grpc==1.44.0
opentelemetry-exporter-otlp-proto-http==1.44.0
opentelemetry-instrumentation==0.65b0
opentelemetry-instrumentation-httpx==0.65b0
opentelemetry-instrumentation-openai-v2==2.4b0
opentelemetry-instrumentation-requests==0.65b0
opentelemetry-instrumentation-sqlalchemy==0.65b0
opentelemetry-proto==1.44.0
opentelemetry-sdk==1.44.0
opentelemetry-semantic-conventions==0.65b0
opentelemetry-util-genai==1.0b0
opentelemetry-util-http==0.65b0
