audioflux==0.1.9
bertopic==0.17.4
codependpy==0.1.1
datasketch==2.0.0
faster-whisper==1.2.1
googletrans==4.0.2
keybert==0.9.0
langchain-chroma==1.1.0
langchain-classic==1.0.8
langchain-core==1.5.4
langchain-openai==1.4.3
langchain-text-splitters==1.1.2
langgraph==1.2.11
langgraph-checkpoint==4.2.0
langgraph-prebuilt==1.1.0
letta==0.16.8
llama-index-llms-openai-like==0.7.2
nova-vad==1.0.0
searxng==2026.8.4+c63835bd2
semhash==0.4.1
unstructured_inference==1.6.13
wtpsplit==2.2.1
